Repository Loopz-Official/Loopz-FE, pull requests merged in 2025-06, with the labels that each got.

#4 Style: Font 설정 및 Global Style Guide 작성
  .prettierrc
  apps/client/app/fonts/PretendardVariable.woff2
  apps/client/app/globals.css
  apps/client/app/layout.tsx
  apps/client/app/page.tsx
  packages/tailwind-config/shared-styles.css
  packages/tailwind-config/tailwind-base.css
  packages/tailwind-config/theme/colors.css
  packages/tailwind-config/theme/typography.css
Labels: 🛠️ setup, 🎨 style

#5 Chore: apps/client 패키지 내 불필요한 alias 삭제
  apps/client/tsconfig.json
Labels: 🛠️ setup

#7 Style: 일부 theme variable 수정
  packages/tailwind-config/theme/colors.css
  packages/ui/src/styles.css
Labels: 🛠️ setup, 🎨 style

#20 Feat: Authentication API 및 Flow 구현
  apps/client/next.config.ts
  apps/client/package.json
  apps/client/src/app/address/page.tsx
  apps/client/src/app/auth/complete/page.tsx
  apps/client/src/app/auth/layout.tsx
  apps/client/src/app/auth/login/page.tsx
  apps/client/src/app/auth/nickname/page.tsx
  apps/client/src/app/auth/terms/page.tsx
  apps/client/src/app/layout.tsx
  apps/client/src/app/main/page.tsx
  apps/client/src/app/mypage/layout.tsx
  apps/client/src/app/mypage/page.tsx
  apps/client/src/app/oauth/google/page.tsx
  apps/client/src/app/oauth/kakao/page.tsx
  apps/client/src/app/order/complete/page.tsx
  apps/client/src/assets/auth/check-circle-complete.svg
  apps/client/src/assets/auth/check-circle.svg
  apps/client/src/assets/auth/google.svg
  apps/client/src/assets/auth/kakao.svg
  apps/client/src/assets/auth/loopz.svg
  apps/client/src/assets/auth/naver.svg
  apps/client/src/assets/header/loopz.svg
  apps/client/src/auth/cookie/clearCookie.ts
  apps/client/src/auth/cookie/getCookie.ts
  apps/client/src/auth/cookie/setCookie.ts
  apps/client/src/auth/extractBearerToken.ts
  apps/client/src/components/common/BottomButton.tsx
  apps/client/src/components/features/auth/AgreementUnit.tsx
  apps/client/src/components/features/auth/UserInfoInput.tsx
  apps/client/src/components/features/mypage/LogoutButton.tsx
  apps/client/src/components/features/oauth/OAuthRedirect.tsx
  apps/client/src/components/features/order/form/AddressSection.tsx
  apps/client/src/components/layouts/Frame.tsx
  apps/client/src/components/layouts/Header.tsx
  apps/client/src/constants/agreements.ts
  apps/client/src/constants/header.ts
  apps/client/src/constants/navigationBar.ts
  apps/client/src/constants/oauth.ts
  apps/client/src/icons/Auth.ts
  apps/client/src/icons/Gift.ts
  apps/client/src/icons/Header.ts
  apps/client/src/icons/NavigationBar.ts
  apps/client/src/icons/ObjectBoard.ts
  apps/client/src/icons/Plus.ts
  apps/client/src/middleware.ts
  apps/client/src/schemas/auth.ts
  apps/client/src/schemas/oauth.ts
  apps/client/src/schemas/utils/validate.ts
  apps/client/src/services/api/auth.ts
  apps/client/src/services/api/oauth.ts
  apps/client/src/services/config/axios.ts
  apps/client/src/stores/userInfo.ts
  package.json
  pnpm-lock.yaml
Labels: ✨ feature, 📷 UI, ⛓️‍💥 API

#23 Feat: 오브제 상세 페이지 UI 및 API 구현
  apps/client/package.json
  apps/client/public/obje-detail.jpg
  apps/client/public/obje-thumbnail.jpg
  apps/client/src/app/obje/[objectId]/page.tsx
  apps/client/src/app/obje/layout.tsx
  apps/client/src/assets/common/like.svg
  apps/client/src/assets/common/plus.svg
  apps/client/src/assets/obje/minus.svg
  apps/client/src/assets/obje/plus.svg
  apps/client/src/components/common/BottomButton.tsx
  apps/client/src/components/features/main/ProductList.tsx
  apps/client/src/components/features/obje/BottomPurchaseCTA.tsx
  apps/client/src/components/features/obje/BottomSheet.tsx
  apps/client/src/components/features/obje/ObjectMetadataUnit.tsx
  apps/client/src/components/features/obje/PurchaseNotice.tsx
  apps/client/src/components/icons/LikeIcon.tsx
  apps/client/src/components/layouts/Header.tsx
  apps/client/src/constants/objeDetail.ts
  apps/client/src/mock/objectDetail.ts
  apps/client/src/schemas/objectDetail.ts
  apps/client/src/services/api/object.ts
  apps/client/src/utils/formatPrice.ts
  pnpm-lock.yaml
Labels: ✨ feature, 📷 UI, ⛓️‍💥 API

#24 Production: Release 0.1
  apps/client/next.config.ts
  apps/client/src/app/oauth/google/GoogleRedirectClient.tsx
  apps/client/src/app/oauth/google/page.tsx
  apps/client/src/app/oauth/kakao/KakaoRedirectClient.tsx
  apps/client/src/app/oauth/kakao/page.tsx
  apps/client/svgr.d.ts
  packages/svgr-config/svgr.config.ts
Labels: 🐛 bug, ♻️ refactor, 🧑‍🔧 fix, 💥 deploy

#28 Release: v0.1 관련 수정
  apps/client/next.config.ts
  apps/client/src/app/auth/layout.tsx
  apps/client/src/app/auth/login/page.tsx
  apps/client/src/app/obje/[objectId]/page.tsx
  apps/client/src/components/common/BottomButton.tsx
  apps/client/src/mock/objectDetail.ts
  apps/client/src/stores/userInfo.ts
Labels: 🧑‍🔧 fix
